@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Montserrat;
}

/* Configurar el modal para que permita scroll dentro de su contenido */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 6, 6, 0.842); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegurarse de que esté por encima del resto */
}

.modal-content {
  background-color: rgba(0, 0, 0, 0);
  width: 80%; /* Ajustar el tamaño del modal */
  max-height: 90%; /* Limitar la altura del modal */
  overflow-y: auto; /* Habilitar scroll dentro del modal */

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

.modal-content {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

.background-modal {
  background-color: #3b3b3b;
}
